<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<title>エラー</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>エラー</title>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
<link href="/client_info/BNAM_LBC_EC/view/userweb/lib/slick/slick.css" rel="stylesheet" type="text/css" />
<link href="/client_info/BNAM_LBC_EC/view/userweb/lib/slick/slick-theme.css" rel="stylesheet" type="text/css" />
<link href="/client_info/BNAM_LBC_EC/view/userweb/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css" />
<link href="/client_info/BNAM_LBC_EC/view/userweb/css/style.css" rel="stylesheet" type="text/css" />
<link href="/client_info/BNAM_LBC_EC/view/userweb/css/style_modifier.css" rel="stylesheet" type="text/css" />
<link href="/client_info/BNAM_LBC_EC/view/userweb/favicon.ico" rel="shortcut icon" />
<script src="/client_info/BNAM_LBC_EC/view/userweb/js/ebisu_lib.latest.js" type="text/javascript" charset="utf-8"></script>

<script src="/client_info/BNAM_LBC_EC/view/userweb/js/ebisu.js" type="text/javascript" charset="utf-8"></script>
<script src="/client_info/BNAM_LBC_EC/view/userweb/lib/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/client_info/BNAM_LBC_EC/view/userweb/lib/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/client_info/BNAM_LBC_EC/view/userweb/lib/jquery.elevatezoom.js" type="text/javascript" charset="utf-8"></script>
<script src="/client_info/BNAM_LBC_EC/view/userweb/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/client_info/BNAM_LBC_EC/view/userweb/js/bnam_lbc_ec_item_detail.js" type="text/javascript" charset="utf-8"></script>
<script src="/client_info/BNAM_LBC_EC/view/userweb/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="/client_info/BNAM_LBC_EC/view/userweb/js/common_modifier.js" type="text/javascript" charset="utf-8"></script>
<link href="/client_info/BNAM_LBC_EC/view/userweb/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
<link href="/client_info/BNAM_LBC_EC/view/userweb/images/android-touch-icon.png" rel="icon" type="image/png" sizes="192x192" />
<meta name="keywords" content="株式会社バンダイナムコアミューズメント,ナムコ,namco,アミューズメント,ゲームセンター,テーマパーク,キャラクター体験施設,キャラポップストア,キャラクターショップ,ボウリング,ゲーム機情報,景品情報,EC,プライズ,ナンジャタウン,Hugood,ハグッド" /><meta name="description" content="バンダイナムコアミューズメントのポータルサイト「ナムコパークス」の公式オンラインストアです。様々なアニメやゲームなどの人気作品コラボの店舗限定オリジナルグッズや景品ミニゲームなどのオンラインショッピングが楽しめます。" /><meta property="og:description" content="バンダイナムコアミューズメントのポータルサイト「ナムコパークス」の公式オンラインストアです。様々なアニメやゲームなどの人気作品コラボの店舗限定オリジナルグッズや景品ミニゲームなどのオンラインショッピングが楽しめます。" /><meta property="og:title" content="ナムコパークス オンラインストア | NAMCO Parks" /><meta property="og:type" content="article" /><meta property="og:url" content="https://parks2.bandainamco-am.co.jp/common_error.html?__pc_site_mode=pc&amp;timestamp=3fd9ce244bab1b52829dcf9b7d1f4ef3" /><meta property="og:site_name" content="ナムコパークスオンラインストア" /><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MGJT5BS');</script>
<!-- End Google Tag Manager --><script type="text/javascript" src="//d.rcmd.jp/bandainamco-am.co.jp/item/recommend.js" charset="UTF-8" /></script><!-- Google Marchant Tag -->
<meta name="google-site-verification" content="gKWTv4fJxbYvCzk_tjIzR6XWhG7U80eSwbUITeHNYBo" />
<!-- End Google Marchant Tag --><!-- Treasure Data -->
<script type="text/javascript">
!function(t,e){if(void 0===e[t]){e[t]=function(){e[t].clients.push(this),this._init=[Array.prototype.slice.call(arguments)]},e[t].clients=[];for(var r=function(t){return function(){return this["_"+t]=this["_"+t]||[],this["_"+t].push(Array.prototype.slice.call(arguments)),this}},s=["addRecord","blockEvents","fetchServerCookie","fetchGlobalID","fetchUserSegments","resetUUID","ready","setSignedMode","setAnonymousMode","set","trackEvent","trackPageview","trackClicks","unblockEvents"],n=0;n<s.length;n++){var c=s[n];e[t].prototype[c]=r(c)}var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.treasuredata.com/sdk/2.5/td.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)}}("Treasure",this);
</script>
<script type="text/javascript">
  // Configure a database instance
  var td = new Treasure({
    host: 'in.treasuredata.com',
    writeKey: '9469/fbb1e9d894134985942e69fde6f3fbf5feb4fd21',
    database: 'bnam_lbc_ec',
    startInSignedMode: true //追加 
  });
  // Enable cross-domain tracking
  td.set('$global', 'td_global_id', 'td_global_id');//追加 
  td.set('pageview', {MEMBER_ID: '', ITEM_CD:'', ITEM_CATEGORY:''});
  // Track pageview information to 'pageview' table
  td.trackPageview('pageview');
</script></head>
<body><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGJT5BS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<script type="text/javascript">
	if (typeof Ebisu != "undefined") {
		Ebisu.isLocal = false;
		Ebisu.rootPath = 'https://parks2.bandainamco-am.co.jp/';
	}
	</script>
	<script type="text/javascript">
<!--
// 
function nextItemListSelectCategory(selectInput) {
	document.location.href = selectInput.options[selectInput.selectedIndex].value;
}
//  
var beatedFlag = false;
function isUnbeaten() {
	if (beatedFlag) {
		return false;
	}
	beatedFlag = true;
	return true;
}
// 
function isUnbeatenSub() {
	if (beatedFlag) {
		return false;
	}
	return true;
}
// 
function isConfirmed() {
	return confirm('実行します。\nよろしいですか？');
}
// 
function next(request) {
	nextForm(null, null, null, request, null);
}
function nextKey(request, key) {
	nextForm(null, null, null, request, key);
}
function nextFormKey(form, request, key) {
	nextForm(form, null, null, request, key);
}
function nextAction(action, request) {
	nextForm(null, null, action, request, null);
}
function nextForm(form, target, action, request, key) {
	pos = -1;
	if (request != null) {
		pos = request.indexOf("download");
	}
	if (pos == -1 && action != null) {
		pos = action.indexOf("Menu001Logout");
	}
	if (pos == -1) {
		if (!isUnbeaten()) {
			alert('前のリクエストを処理中です。しばらくお待ちください。');
			return;
		}
	}
	if (form == null) {
		form = document.forms[0];
	}
	var oldTarget = form.target;
	if (target) {
		alert(target);
		form.target = target;
	}
	var oldAction = form.action;
	if (action != null) {
		form.action = action;
	}
	if (request == null) {
		request = '';
	}
	if (key != null) {
		form.key.value = key;
	}
	if (form.request != null) {
		form.request.value = request;
	}

	beforeExecuteSubmitForm();
	
	form.submit();

	form.target = oldTarget;
	form.action = oldAction;
}

(function() {
	func = function() {beatedFlag = false;};
	//
	if(typeof window.addEventListener == 'function'){ 
		window.addEventListener('unload', func, false);
		window.addEventListener('pageshow', func, false);
		return true;
	}
})();

var beforeExecuteSubmitForm = function() {
	// formをsubmitする前に処理をカスタマイズするカットポイント
};

//-->
</script>
	<script type="text/javascript">
<!--
function ebisu_dateFormat(controller) {
  var reg = /^(\d{4})\/?(\d{1,2})\/?(\d{1,2})?$/;
  var str = ebisu_trim(controller.value);
  if (reg.test(str)) {
    var a = reg.exec(str);
    controller.value = a[1] + ebisu_conv(a[2]) + ebisu_conv(a[3]);
  }
}
function ebisu_conv(s) {
  var ret = "";
  if (s == null) {
  } else if (s.length == 1) {
    ret = "/0" + s;
  } else if (s.length == 2) {
    ret = "/" + s;
  }
  return ret;
}
function ebisu_revert(controller) {
  var reg = /^\d{4}\/\d{2}(\/\d{2})?$/;
  if (reg.test(controller.value)) {
    controller.value = controller.value.replace(/\/+/g, "");
  }
}
function ebisu_trim(s) {
  return s.replace(/^\s*/, "").replace(/\s*$/, "");
}
function ebisu_cc(){
  var e = event.srcElement;
  var r = e.createTextRange();
  r.moveStart("character", e.value.length);
  r.collapse(true);
  r.select();
}
//-->
</script>
	
	<script type="text/javascript">
<!--
//
function showSubWindowActionRequest(action, request, width, height) {
	return showSubWindowActionRequestKey(action, request, null, width, height);
}
//
function showSubWindowActionRequestKey(action, request, key, width, height) {
	var pos = action.indexOf("?");
	var requestString = "";
	if (pos == -1) {
		requestString = "?request=";
	} else {
		requestString = "&request=";
	}
	requestString += request;
	if (key != null) {
		requestString += "&key=" + key;
	}
	return showSubWindow(action + requestString, width, height);
}
//
var ebisuSubWindow;
function showSubWindow(url, width, height) {
	if (ebisuSubWindow != null) {
		ebisuSubWindow.close();
	}
	ebisuSubWindow = showSubWindowPrivate(url, width, height, "ebisuSubWindow");
	if (ebisuSubWindow == null) {
		alert('ウィンドウのポップアップがブラウザによってブロックされました。誠に恐れ入りますが、直接ボタンをクリックするか、ブラウザのポップアップブロックの設定を調整してください。');
		return false;
	}
	ebisuSubWindow.focus();
	return ebisuSubWindow;
}
//
function showSubWindowPrivate(url, width, height, windowName) {
	//
	if (width == null) {
		width = 750;
	}
	if (height == null) {
		height = 650;
	}
	if (url.indexOf("http") != 0) {
		url = "http://parks2.bandainamco-am.co.jp/" + url;
	}
	if (!isUnbeatenSub()) {
		alert("前のリクエストを処理中です。しばらくお待ちください。");
	} else {
		return window.open(url, windowName, "width="+width+", height="+height+", toolbar=0, menubar=0, location=0, status=yes, scrollbars=yes");
	}
}

//
function closeAllSubwindow() {
	if (ebisuSubWindow != null && !ebisuSubWindow.closed ) {
		ebisuSubWindow.close();
	}
}
-->
</script>
	<script type="text/javascript">
<!--
function joinDate(idName, yearName, monthName, dayName) {
	if(yearName != null &&monthName != null && dayName != null){
		document.getElementById(idName).value = document.getElementById(yearName).value + '/' + document.getElementById(monthName).value + '/' +document.getElementById(dayName).value
	}
}
function yearFormat(yearName){
	var value = document.getElementById(yearName).value;
	if (!isNaN(value) && value.length == 1) value = '200' + value; if (!isNaN(value) && value.length == 2) value = '20' + value; if (!isNaN(value) && value.length == 3) value = '2' + value;
	document.getElementById(yearName).value = value;
}
//-->
</script>
	
	
	
	
	
	
	
	
	


<!-- このテンプレートのURLは右記になります。 ドメイン/存在しないテンプレート名.html -->

<div class="container">
  
<!-- view include -->


<!-- <header class="header header-simple">
  
  <div class="header-row1">
    <div class="header-title">
      <a href="https://parks2.bandainamco-am.co.jp/">
        <div class="header-logo"><img src="/client_info/BNAM_LBC_EC/view/userweb/./images/logo.png" alt="ナムコパークス" /></div>
      </a>
    </div>
  </div>
  <script type="text/javascript">
var member_data = {
"member_id": "",
"sex": "",
"birth": ""
}
</script>

</header> -->


<!-- // view include -->


  <div class="contents">
<!-- =============================================================================== -->
<!-- ==================メインコンテンツ ================================================== -->
<!-- =============================================================================== -->
<div id="main" class="no-sidebar">
<!-- error -->
	<h1 class="page-title">エラーが発生しました。</h1>
	
<!-- view include -->



<!-- error -->
<div id="error" class="form-error-message">
  <!-- エラー -->
  <div><ul><li>ただいまアクセス集中により、サイトが大変混雑しております。<br />恐れ入りますがしばらくたってから再度お試しください。</li></ul></div>
  <!-- 警告 -->
  
  <!-- 情報 -->
  
  <!-- メッセージ -->
  
</div>
<!-- / error -->


<!-- // view include -->


	<pre></pre>
	
	<div class="btns">

				<!--<input onclick="location.href = &quot;https://parks2.bandainamco-am.co.jp/&quot;" type="submit" value="トップページへ" class="btn btn-main btn-size-l" />-->
                                <button type="button" onclick="history.back()"  class="btn btn-cancel btn-size-l" >前の画面へ戻る</button>

	</div>
<!-- / error -->
</div>
<!-- =============================================================================== -->
<!-- ==================メインコンテンツ END================================================== -->
<!-- =============================================================================== -->
</div>

<!-- view include -->


<footer class="footer">
  <div class="footer-pagetop">
    <a href="#"></a>
  </div>
  <div class="footer-row1">
    <div class="footer-logo"><a href="https://parks.bandainamco-am.co.jp/"><img src="/client_info/BNAM_LBC_EC/view/userweb/./images/logo_footer.png" alt="ナムコパークス" /></a></div>
  </div>
  <div class="footer-row2">
    <div class="footer-menu">
      <ul class="footer-menu-list">
        <li class="footer-menu-list-item"><a href="<%= path %>ext/beginners.html"><span class="icon icon-guide"></span>初めての方へ</a></li>
        <li class="footer-menu-list-item"><a href="<%= path %>ext/guide.html"><span class="icon icon-guide"></span>ご利用ガイド</a></li>
        <li class="footer-menu-list-item"><a href="https://bnam-customer.my.site.com/NamcoParks/s/" target="_blank"><span class="icon icon-talk"></span>よくある質問・お問い合わせ</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-row3">
    <div class="footer-company-info">
      <ul class="footer-company-info-list">
        <li class="footer-company-info-list-item"><a href="https://bandainamco-am.co.jp/company/" target="_blank">会社概要</a></li>
        <li class="footer-company-info-list-item"><a href="<%= path %>ext/web_accessibility.html">ウェブアクセシビリティ方針</a></li>
        <li class="footer-company-info-list-item"><a href="<%= path %>ext/kiyaku.html">利用規約</a></li>
        <li class="footer-company-info-list-item"><a href="https://am.bandainamco-am.co.jp/privacy/" target="_blank">プライバシーポリシー</a></li>
        <li class="footer-company-info-list-item"><a href="<%= path %>ext/tokushou.html">特定商取引法に基づく表示</a></li>
      </ul>
    </div>
  </div>
</footer>
<script type="text/javascript" src="https://bandainamco-am.co.jp/am/js/commonFooter.js"></script>


<!-- // view include -->


</div>




</body>
</html>
